# Assignment # 5
**Name:** Shaimar R. Gonz√°lez Morales

**Date:** 3/7/ 2021

## Step1 : Upload the dataset

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("MERGED2017_18_PP.csv") # upload csv

/shared-libs/python3.7/py-core/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3166: DtypeWarning: Columns (1729) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

## Step 2: Explore dataset

In [4]:
print(len(df)) # number of rows

7112

In [5]:
df.shape # explore how big is the data first number is row second is columns

(7112, 1986)

In [6]:
col=df.columns # explore # of columns
print(col)

Index(['UNITID', 'OPEID', 'OPEID6', 'INSTNM', 'CITY', 'STABBR', 'ZIP',
       'ACCREDAGENCY', 'INSTURL', 'NPCURL',
       ...
       'OMENRUP_PARTTIME_POOLED_SUPP', 'FTFTPCTPELL', 'FTFTPCTFLOAN', 'UG12MN',
       'G12MN', 'SCUGFFN', 'POOLYRS_FTFTAIDPCT', 'FTFTPCTPELL_POOLED_SUPP',
       'FTFTPCTFLOAN_POOLED_SUPP', 'SCUGFFN_POOLED'],
      dtype='object', length=1986)

In [7]:
info_top5=df.head() # info of top row
print(info_top5)

   UNITID    OPEID  OPEID6                               INSTNM        CITY  \
0  100654   100200    1002             Alabama A & M University      Normal
1  100663   105200    1052  University of Alabama at Birmingham  Birmingham
2  100690  2503400   25034                   Amridge University  Montgomery
3  100706   105500    1055  University of Alabama in Huntsville  Huntsville
4  100724   100500    1005             Alabama State University  Montgomery

  STABBR         ZIP  ACCREDAGENCY  INSTURL  NPCURL  ...  \
0     AL       35762           NaN      NaN     NaN  ...
1     AL  35294-0110           NaN      NaN     NaN  ...
2     AL  36117-3553           NaN      NaN     NaN  ...
3     AL       35899           NaN      NaN     NaN  ...
4     AL  36104-0271           NaN      NaN     NaN  ...

   OMENRUP_PARTTIME_POOLED_SUPP  FTFTPCTPELL  FTFTPCTFLOAN   UG12MN   G12MN  \
0                           NaN       0.7106        0.7418   5207.0  1185.0
1                           NaN       0.4009        0.5488  13308.0  9888.0
2                           NaN       0.5000        0.5000    431.0   437.0
3                           NaN       0.2012        0.4231   7519.0  2378.0
4                           NaN       0.7594        0.7402   5229.0   687.0

   SCUGFFN  POOLYRS_FTFTAIDPCT  FTFTPCTPELL_POOLED_SUPP  \
0   1410.0                 NaN                      NaN
1   1948.0                 NaN                      NaN
2      4.0                 NaN                      NaN
3   1203.0                 NaN                      NaN
4   1143.0                 NaN                      NaN

   FTFTPCTFLOAN_POOLED_SUPP  SCUGFFN_POOLED
0                       NaN             NaN
1                       NaN             NaN
2                       NaN             NaN
3                       NaN             NaN
4                       NaN             NaN

[5 rows x 1986 columns]

In [8]:
Top5=df['INSTNM']
Top5=Top5[0:5]
print(Top5) # print the top 5 colleges

0               Alabama A & M University
1    University of Alabama at Birmingham
2                     Amridge University
3    University of Alabama in Huntsville
4               Alabama State University
Name: INSTNM, dtype: object

In [9]:
info_last5=df.tail()
print(info_last5) # print last 5 rows

        UNITID    OPEID  OPEID6  \
7107  48312404   108163    1081
7108  48387801  4223701   42237
7109  48400201  4228101   42281
7110  48778201  4221501   42215
7111  49005401  4182601   41826

                                                 INSTNM             CITY  \
7107                   Arizona State University at Yuma             Yuma
7108  Bay Area Medical Academy - San Jose Satellite ...         San Jose
7109           High Desert Medical College - Bakerfield      Bakersfield
7110                                       BCI - Malden           Malden
7111               HCI College - Fort Lauderdale Campus  Fort Lauderdale

     STABBR        ZIP  ACCREDAGENCY  INSTURL  NPCURL  ...  \
7107     AZ  853656900           NaN      NaN     NaN  ...
7108     CA      95113           NaN      NaN     NaN  ...
7109     CA      93301           NaN      NaN     NaN  ...
7110     MA  021480000           NaN      NaN     NaN  ...
7111     FL      33309           NaN      NaN     NaN  ...

      OMENRUP_PARTTIME_POOLED_SUPP  FTFTPCTPELL  FTFTPCTFLOAN  UG12MN  G12MN  \
7107                           NaN          NaN           NaN     NaN    NaN
7108                           NaN          NaN           NaN     NaN    NaN
7109                           NaN          NaN           NaN     NaN    NaN
7110                           NaN          NaN           NaN     NaN    NaN
7111                           NaN          NaN           NaN     NaN    NaN

      SCUGFFN  POOLYRS_FTFTAIDPCT  FTFTPCTPELL_POOLED_SUPP  \
7107      NaN                 NaN                      NaN
7108      NaN                 NaN                      NaN
7109      NaN                 NaN                      NaN
7110      NaN                 NaN                      NaN
7111      NaN                 NaN                      NaN

      FTFTPCTFLOAN_POOLED_SUPP  SCUGFFN_POOLED
7107                       NaN             NaN
7108                       NaN             NaN
7109                       NaN             NaN
7110                       NaN             NaN
7111                       NaN             NaN

[5 rows x 1986 columns]

In [10]:
Last5=df['INSTNM']
Last5=Last5[7107:]
print(Last5) # print the last 5 colleges

7107                     Arizona State University at Yuma
7108    Bay Area Medical Academy - San Jose Satellite ...
7109             High Desert Medical College - Bakerfield
7110                                         BCI - Malden
7111                 HCI College - Fort Lauderdale Campus
Name: INSTNM, dtype: object

In [11]:
random_samp=df['INSTNM'].sample(n=5, random_state=1)
print(random_samp) # look random colleges

3205                  Allen University
4775                   Hair Academy II
4109    Great Plains Technology Center
4482         Leech Lake Tribal College
3506                Paul Quinn College
Name: INSTNM, dtype: object

## Step 3: Create new data set with selected variables

In [12]:
New_df=df[['UNITID','INSTNM', 'CITY', 'STABBR', 'ZIP', 'ADM_RATE', 'UGDS', 'TUITIONFEE_IN', 'MN_EARN_WNE_P10']] # Selecting 9 columns from the datasets
print(New_df)

        UNITID                                             INSTNM  \
0       100654                           Alabama A & M University
1       100663                University of Alabama at Birmingham
2       100690                                 Amridge University
3       100706                University of Alabama in Huntsville
4       100724                           Alabama State University
...        ...                                                ...
7107  48312404                   Arizona State University at Yuma
7108  48387801  Bay Area Medical Academy - San Jose Satellite ...
7109  48400201           High Desert Medical College - Bakerfield
7110  48778201                                       BCI - Malden
7111  49005401               HCI College - Fort Lauderdale Campus

                 CITY STABBR         ZIP  ADM_RATE     UGDS  TUITIONFEE_IN  \
0              Normal     AL       35762    0.9027   4824.0         9857.0
1          Birmingham     AL  35294-0110    0.9181  12866.0         8328.0
2          Montgomery     AL  36117-3553       NaN    318.0         6900.0
3          Huntsville     AL       35899    0.8123   6917.0        10280.0
4          Montgomery     AL  36104-0271    0.9787   4189.0        11068.0
...               ...    ...         ...       ...      ...            ...
7107             Yuma     AZ   853656900       NaN      NaN            NaN
7108         San Jose     CA       95113       NaN      NaN            NaN
7109      Bakersfield     CA       93301       NaN      NaN            NaN
7110           Malden     MA   021480000       NaN      NaN            NaN
7111  Fort Lauderdale     FL       33309       NaN      NaN        22575.0

      MN_EARN_WNE_P10
0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN
...               ...
7107              NaN
7108              NaN
7109              NaN
7110              NaN
7111              NaN

[7112 rows x 9 columns]

### Definitions of the variables in the dataset

UNITID=Unit ID for institution

INSTNM=Institution name	(school	name)

CITY=City

STABBR=State postcode

ZIP=Zip code

ADM_RATE=Admission rate

UGDS=Enrollment of undergraduate certificate/degree-seeking students

TUITIONFEE_IN=In-state tuition and fees

MN_EARN_WNE_P10=Mean earnings of students working and not enrolled 10 years after entry

## Step4: Explore the new DataFrame

In [13]:
Top10_info=New_df.head(10) #explore top 10
print(Top10_info)

   UNITID                               INSTNM            CITY STABBR  \
0  100654             Alabama A & M University          Normal     AL
1  100663  University of Alabama at Birmingham      Birmingham     AL
2  100690                   Amridge University      Montgomery     AL
3  100706  University of Alabama in Huntsville      Huntsville     AL
4  100724             Alabama State University      Montgomery     AL
5  100751            The University of Alabama      Tuscaloosa     AL
6  100760    Central Alabama Community College  Alexander City     AL
7  100812              Athens State University          Athens     AL
8  100830      Auburn University at Montgomery      Montgomery     AL
9  100858                    Auburn University          Auburn     AL

          ZIP  ADM_RATE     UGDS  TUITIONFEE_IN  MN_EARN_WNE_P10
0       35762    0.9027   4824.0         9857.0              NaN
1  35294-0110    0.9181  12866.0         8328.0              NaN
2  36117-3553       NaN    318.0         6900.0              NaN
3       35899    0.8123   6917.0        10280.0              NaN
4  36104-0271    0.9787   4189.0        11068.0              NaN
5  35487-0100    0.5330  32387.0        10780.0              NaN
6       35010       NaN   1404.0         4440.0              NaN
7       35611       NaN   2801.0            NaN              NaN
8  36117-3596    0.8240   4211.0         8020.0              NaN
9       36849    0.8393  23391.0        10968.0              NaN

In [14]:
Top10=New_df['INSTNM'] #only printing the top 10 colleges
Top10=Top10[:10]
print(Top10)

0               Alabama A & M University
1    University of Alabama at Birmingham
2                     Amridge University
3    University of Alabama in Huntsville
4               Alabama State University
5              The University of Alabama
6      Central Alabama Community College
7                Athens State University
8        Auburn University at Montgomery
9                      Auburn University
Name: INSTNM, dtype: object

In [15]:
New_df.shape

(7112, 9)

In [16]:
info_last10=df.tail(10)
print(info_last10)

        UNITID    OPEID  OPEID6  \
7102  48154401  4220901   42209
7103  48305401  4224601   42246
7104  48312401   108131    1081
7105  48312402   108161    1081
7106  48312403   108162    1081
7107  48312404   108163    1081
7108  48387801  4223701   42237
7109  48400201  4228101   42281
7110  48778201  4221501   42215
7111  49005401  4182601   41826

                                                 INSTNM              CITY  \
7102  National Personal Training Institute of Cleveland  Highland Heights
7103             Barber School of Pittsburgh - Ambridge          Ambridge
7104                 Arizona State University at Tucson            Tucson
7105  Arizona State University - ASU Colleges at Lak...  Lake Havasu City
7106        Arizona State University at The Gila Valley          Thatcher
7107                   Arizona State University at Yuma              Yuma
7108  Bay Area Medical Academy - San Jose Satellite ...          San Jose
7109           High Desert Medical College - Bakerfield       Bakersfield
7110                                       BCI - Malden            Malden
7111               HCI College - Fort Lauderdale Campus   Fort Lauderdale

     STABBR        ZIP  ACCREDAGENCY  INSTURL  NPCURL  ...  \
7102     OH      44143           NaN      NaN     NaN  ...
7103     PA  150030000           NaN      NaN     NaN  ...
7104     AZ  857454284           NaN      NaN     NaN  ...
7105     AZ  864036877           NaN      NaN     NaN  ...
7106     AZ  855525545           NaN      NaN     NaN  ...
7107     AZ  853656900           NaN      NaN     NaN  ...
7108     CA      95113           NaN      NaN     NaN  ...
7109     CA      93301           NaN      NaN     NaN  ...
7110     MA  021480000           NaN      NaN     NaN  ...
7111     FL      33309           NaN      NaN     NaN  ...

      OMENRUP_PARTTIME_POOLED_SUPP  FTFTPCTPELL  FTFTPCTFLOAN  UG12MN  G12MN  \
7102                           NaN          NaN           NaN     NaN    NaN
7103                           NaN          NaN           NaN     NaN    NaN
7104                           NaN          NaN           NaN     NaN    NaN
7105                           NaN          NaN           NaN     NaN    NaN
7106                           NaN          NaN           NaN     NaN    NaN
7107                           NaN          NaN           NaN     NaN    NaN
7108                           NaN          NaN           NaN     NaN    NaN
7109                           NaN          NaN           NaN     NaN    NaN
7110                           NaN          NaN           NaN     NaN    NaN
7111                           NaN          NaN           NaN     NaN    NaN

      SCUGFFN  POOLYRS_FTFTAIDPCT  FTFTPCTPELL_POOLED_SUPP  \
7102      NaN                 NaN                      NaN
7103      NaN                 NaN                      NaN
7104      NaN                 NaN                      NaN
7105      NaN                 NaN                      NaN
7106      NaN                 NaN                      NaN
7107      NaN                 NaN                      NaN
7108      NaN                 NaN                      NaN
7109      NaN                 NaN                      NaN
7110      NaN                 NaN                      NaN
7111      NaN                 NaN                      NaN

      FTFTPCTFLOAN_POOLED_SUPP  SCUGFFN_POOLED
7102                       NaN             NaN
7103                       NaN             NaN
7104                       NaN             NaN
7105                       NaN             NaN
7106                       NaN             NaN
7107                       NaN             NaN
7108                       NaN             NaN
7109                       NaN             NaN
7110                       NaN             NaN
7111                       NaN             NaN

[10 rows x 1986 columns]

In [17]:
Last10=New_df['INSTNM'] #only printing the last 10 colleges
Last10=Last10[7102:]
print(Last10)

7102    National Personal Training Institute of Cleveland
7103               Barber School of Pittsburgh - Ambridge
7104                   Arizona State University at Tucson
7105    Arizona State University - ASU Colleges at Lak...
7106          Arizona State University at The Gila Valley
7107                     Arizona State University at Yuma
7108    Bay Area Medical Academy - San Jose Satellite ...
7109             High Desert Medical College - Bakerfield
7110                                         BCI - Malden
7111                 HCI College - Fort Lauderdale Campus
Name: INSTNM, dtype: object

In [18]:
random_sampnewdf=New_df['INSTNM'].sample(n=10, random_state=1)
print(random_sampnewdf) # look random colleges

3205                                     Allen University
4775                                      Hair Academy II
4109                       Great Plains Technology Center
4482                            Leech Lake Tribal College
3506                                   Paul Quinn College
6726    Delaware Technical Community College-Stanton/W...
5642                                 Metro Beauty Academy
5523                Woodruff Medical Training and Testing
3099        Pennsylvania State University-Penn State York
420                                    Palo Verde College
Name: INSTNM, dtype: object

## Step 5: Explore number and info of specific universities

In [19]:
print(New_df[New_df['INSTNM']=='University of Maryland-Baltimore County'].index.values) # find UMBC

[1478]

In [20]:
UMBC=New_df[1478:1479]
print(UMBC) # print info of UMBC

      UNITID                                   INSTNM       CITY STABBR  \
1478  163268  University of Maryland-Baltimore County  Baltimore     MD

        ZIP  ADM_RATE     UGDS  TUITIONFEE_IN  MN_EARN_WNE_P10
1478  21250    0.6021  11130.0        11518.0              NaN

In [21]:
print(New_df[New_df['INSTNM']=='University of Maryland-College Park'].index.values) # find University Maryland College Park

[1479]

In [22]:
UMD=New_df[1479:1480]
print(UMD) # print info of University Maryland College Park

      UNITID                               INSTNM          CITY STABBR    ZIP  \
1479  163286  University of Maryland-College Park  College Park     MD  20742

      ADM_RATE     UGDS  TUITIONFEE_IN  MN_EARN_WNE_P10
1479     0.445  29273.0        10399.0              NaN

In [23]:
print(New_df[New_df['INSTNM']=='Loyola University Maryland'].index.values) # find Loyola University Maryland

[1475]

In [24]:
loyola=New_df[1475:1476]
print(loyola) # print info of Loyola University Maryland

      UNITID                      INSTNM       CITY STABBR         ZIP  \
1475  163046  Loyola University Maryland  Baltimore     MD  21210-2699

      ADM_RATE    UGDS  TUITIONFEE_IN  MN_EARN_WNE_P10
1475    0.7528  3903.0        47560.0              NaN

In [25]:
print(New_df[New_df['INSTNM']=='Johns Hopkins University'].index.values) # find Johns Hopskins

[1473]

In [26]:
JHU=New_df[1473:1474]
print(JHU) # print info of Johns Hopskins

      UNITID                    INSTNM       CITY STABBR         ZIP  \
1473  162928  Johns Hopkins University  Baltimore     MD  21218-2688

      ADM_RATE    UGDS  TUITIONFEE_IN  MN_EARN_WNE_P10
1473    0.1254  5663.0        52170.0              NaN

## Step 6: Calculate the min, max, and average in-state tution of the above four institutions

In [27]:
fourcolleges=[JHU, loyola, UMBC, UMD] # creating a variable with info of interest
all4colleges=pd.concat(fourcolleges) #adding that info to DataFrame
print(all4colleges)

      UNITID                                   INSTNM          CITY STABBR  \
1473  162928                 Johns Hopkins University     Baltimore     MD
1475  163046               Loyola University Maryland     Baltimore     MD
1478  163268  University of Maryland-Baltimore County     Baltimore     MD
1479  163286      University of Maryland-College Park  College Park     MD

             ZIP  ADM_RATE     UGDS  TUITIONFEE_IN  MN_EARN_WNE_P10
1473  21218-2688    0.1254   5663.0        52170.0              NaN
1475  21210-2699    0.7528   3903.0        47560.0              NaN
1478       21250    0.6021  11130.0        11518.0              NaN
1479       20742    0.4450  29273.0        10399.0              NaN

In [28]:
all4colleges['TUITIONFEE_IN'].describe() # Calculate the min, max, and mean in-state tution

count        4.000000
mean     30411.750000
std      22546.011271
min      10399.000000
25%      11238.250000
50%      29539.000000
75%      48712.500000
max      52170.000000
Name: TUITIONFEE_IN, dtype: float64

## Step 7: Filter dataset further to only keep colleges from certain states

In [29]:
axisMD=(New_df[New_df['STABBR']=='MD'].index.values) # axis of MD
print(axisMD)

[1446 1447 1448 1449 1450 1451 1452 1453 1454 1455 1456 1457 1458 1459
 1460 1461 1462 1463 1464 1465 1466 1467 1468 1469 1470 1471 1472 1473
 1474 1475 1476 1477 1478 1479 1480 1481 1482 1483 1484 1485 1486 1487
 1488 1489 1490 1491 1492 1493 1494 1495 1496 1497 1498 1499 1500 1501
 1502 1503 1504 3004 4144 4225 4413 4677 4752 4762 4769 4770 4775 5043
 5143 5209 5314 5408 5473 5474 5529 5834 6016 6088 6099 6118 6134 6183
 6483 6717 6800 7004 7005 7006 7007]

In [30]:
Maryland = New_df.iloc[[1446, 1447, 1448, 1449, 1450, 1451, 1452,1453,1454, 1455, 1456, 1457, 1458, 1459,
 1460, 1461, 1462, 1463, 1464, 1465, 1466, 1467, 1468, 1469, 1470, 1471, 1472, 1473,
 1474, 1475, 1476, 1477, 1478, 1479, 1480,1481, 1482, 1483, 1484, 1485, 1486, 1487,
 1488, 1489, 1490, 1491, 1492, 1493, 1494, 1495, 1496, 1497, 1498, 1499, 1500, 1501,
 1502, 1503, 1504, 3004, 4144, 4225, 4413, 4677, 475, 4762, 4769, 4770,4775, 5043,
 5143, 5209, 5314, 5408, 5473, 5474, 5529, 5834, 6016, 6088, 6099, 6118, 6134, 6183,
 6483, 6717, 6800, 7004, 7005, 7006, 7007], :]
print(Maryland) # print info of colleges in Maryland

        UNITID                                  INSTNM          CITY STABBR  \
1446    161651     Aesthetics Institute of Cosmetology  Gaithersburg     MD
1447    161688            Allegany College of Maryland    Cumberland     MD
1448    161767          Anne Arundel Community College        Arnold     MD
1449    161776               Brightwood College-Towson        Towson     MD
1450    161800                     Award Beauty School    Hagerstown     MD
...        ...                                     ...           ...    ...
6800  16210401          Cecil College - Elkton Station        Elkton     MD
7004  43018401     Strayer University-Rockville Campus     Rockville     MD
7005  43018402  Strayer University-Anne Arundel Campus  Millersville     MD
7006  43018403   Strayer University-White Marsh Campus     Baltimore     MD
7007  43018404  Strayer University-Owings Mills Campus  Owings Mills     MD

             ZIP  ADM_RATE     UGDS  TUITIONFEE_IN  MN_EARN_WNE_P10
1446       20877       NaN     25.0            NaN              NaN
1447  21502-2596       NaN   1990.0         3940.0              NaN
1448  21012-1895       NaN  11294.0         4646.0              NaN
1449  21286-2201       NaN    309.0            NaN              NaN
1450  21740-5610       NaN    157.0            NaN              NaN
...          ...       ...      ...            ...              ...
6800   219215535       NaN      NaN         4005.0              NaN
7004       20850       NaN      NaN        13857.0              NaN
7005       21108       NaN      NaN        13857.0              NaN
7006       21236       NaN      NaN        13857.0              NaN
7007       21117       NaN      NaN        13857.0              NaN

[91 rows x 9 columns]

In [31]:
axisVA=(New_df[New_df['STABBR']=='VA'].index.values) # find axis of VA
print(axisVA)

[3627 3628 3629 3630 3631 3632 3633 3634 3635 3636 3637 3638 3639 3640
 3641 3642 3643 3644 3645 3646 3647 3648 3649 3650 3651 3652 3653 3654
 3655 3656 3657 3658 3659 3660 3661 3662 3663 3664 3665 3666 3667 3668
 3669 3670 3671 3672 3673 3674 3675 3676 3677 3678 3679 3680 3681 3682
 3683 3684 3685 3686 3687 3688 3689 3690 3691 3692 3693 3694 3695 3696
 3697 3698 3699 3700 3701 3702 3703 3704 3705 3706 3707 3708 3709 3710
 3711 3712 3713 3714 3715 3716 4046 4154 4275 4276 4277 4325 4422 4599
 4606 4655 4656 4657 4681 4682 4705 4726 4798 4810 4822 4825 4880 4942
 4943 4970 4975 5042 5114 5119 5133 5223 5296 5303 5304 5309 5333 5391
 5536 5654 5655 5674 5700 5702 5713 5714 5766 5798 5801 5836 5839 5955
 5999 6013 6064 6089 6114 6160 6218 6263 6267 6269 6270 6331 6338 6413
 6426 6592 6626 6693 6799 6930 6931 6932 6933 6934 6935 6936 6937 6938
 6939 6959 6963 6968 6969 6970 6971 6972 6973]

In [32]:
Virginia=New_df.iloc[[3627, 3628, 3629, 3630, 3631,3632, 3633, 3634, 3635, 3636, 3637, 3638, 3639, 3640,
 3641, 3642, 3643, 3644, 3645, 3646, 3647, 3648, 3649, 3650, 3651, 3652, 3653, 3654,
 3655,3656, 3657, 3658, 3659, 3660, 3661, 3662, 3663, 3664, 3665, 3666, 3667, 3668,
 3669, 3670, 3671, 3672, 3673, 3674, 3675, 3676, 3677, 3678, 3679, 3680, 3681, 3682,
 3683, 3684, 3685, 3686, 3687, 3688, 3689, 3690, 3691, 3692, 3693, 3694, 3695, 3696,
 3697, 3698, 3699, 3700, 3701, 3702, 3703, 3704, 3705, 3706, 3707, 3708, 3709, 3710,
 3711, 3712, 3713, 3714, 3715, 3716, 4046, 4154, 4275, 4276, 4277, 4325, 4422, 4599,
 4606, 4655, 4656, 4657, 4681, 4682, 4705, 4726, 4798, 4810, 4822, 4825, 4880, 4942,
 4943, 4970, 4975, 5042, 5114, 5119, 5133, 5223, 5296, 5303, 5304, 5309, 5333, 5391,
 5536, 5654, 5655, 5674, 5700, 5702, 5713, 5714, 5766, 5798, 5801, 5836, 5839, 5955,
 5999, 6013, 6064, 6089, 6114, 6160, 6218, 6263, 6267, 6269, 6270, 6331, 6338, 6413,
 6426, 6592, 6626, 6693, 6799, 6930, 6931, 6932, 6933, 6934, 6935, 6936, 6937, 6938,
 6939, 6959, 6963, 6968, 6969, 6970, 6971, 6972, 6973], :]
print(Virginia) # print info of colleges in Virginia

        UNITID                                          INSTNM  \
3627    231280                Paul Mitchell the School-Roanoke
3628    231411                   Advanced Technology Institute
3629    231420                              Averett University
3630    231536                    Blue Ridge Community College
3631    231554                               Bluefield College
...        ...                                             ...
6969  24893411  ECPI University-Virginia Beach Health Sciences
6970  24893412                  ECPI University-Richmond South
6971  24893413                       ECPI University-Innsbrook
6972  24893414                   ECPI University-Richmond West
6973  24893415                       ECPI University - Roanoke

                CITY STABBR         ZIP  ADM_RATE    UGDS  TUITIONFEE_IN  \
3627         Roanoke     VA       24015       NaN    84.0            NaN
3628  Virginia Beach     VA       23462    0.7954   464.0        13250.0
3629        Danville     VA       24541    0.6102   908.0        33350.0
3630     Weyers Cave     VA  24486-0080       NaN  3054.0         5252.0
3631       Bluefield     VA       24605    0.9112   874.0        24800.0
...              ...    ...         ...       ...     ...            ...
6969  Virginia Beach     VA   234621603       NaN     NaN        15261.0
6970        Richmond     VA   232361603       NaN     NaN        14985.0
6971      Glen Allen     VA   230601603       NaN     NaN        15263.0
6972        Richmond     VA   232941603       NaN     NaN        16039.0
6973         Roanoke     VA   240121603       NaN     NaN        15525.0

      MN_EARN_WNE_P10
3627              NaN
3628              NaN
3629              NaN
3630              NaN
3631              NaN
...               ...
6969              NaN
6970              NaN
6971              NaN
6972              NaN
6973              NaN

[177 rows x 9 columns]

In [33]:
axisPA=(New_df[New_df['STABBR']=='PA'].index.values) # find axis of Pennsylvannia
print(axisPA)

[2933 2934 2935 2936 2937 2938 2939 2940 2941 2942 2943 2944 2945 2946
 2947 2948 2949 2950 2951 2952 2953 2954 2955 2956 2957 2958 2959 2960
 2961 2962 2963 2964 2965 2966 2967 2968 2969 2970 2971 2972 2973 2974
 2975 2976 2977 2978 2979 2980 2981 2982 2983 2984 2985 2986 2987 2988
 2989 2990 2991 2992 2993 2994 2995 2996 2998 2999 3000 3001 3002 3003
 3005 3006 3007 3008 3009 3010 3011 3012 3013 3014 3015 3016 3017 3018
 3019 3020 3021 3022 3023 3024 3025 3026 3027 3028 3029 3030 3031 3032
 3033 3034 3035 3036 3037 3038 3039 3040 3041 3042 3043 3044 3045 3046
 3047 3048 3049 3050 3051 3052 3053 3054 3055 3056 3057 3058 3059 3060
 3061 3062 3063 3064 3065 3066 3067 3068 3069 3070 3071 3072 3073 3074
 3075 3076 3077 3078 3079 3080 3081 3082 3083 3084 3085 3086 3087 3088
 3089 3090 3091 3092 3093 3094 3095 3096 3097 3098 3099 3100 3101 3102
 3103 3104 3105 3106 3107 3108 3109 3110 3111 3112 3113 3114 3115 3116
 3117 3118 3119 3120 3121 3122 3123 3124 3125 3126 3127 3128 3129 3130
 3131 3132 3133 3134 3135 3136 3137 3138 3139 3140 3141 3142 3143 3144
 3145 3146 3147 3148 3149 3150 3151 3152 3153 3154 3155 3156 3157 3158
 3159 3160 3161 3162 3163 3164 3165 3166 3167 3168 3169 3170 3171 3172
 3173 3174 3175 3176 3177 3178 3179 3180 3181 3182 3183 3184 3185 3186
 3187 3188 4010 4039 4040 4050 4051 4052 4057 4062 4079 4125 4136 4151
 4164 4175 4193 4255 4256 4257 4335 4351 4419 4420 4446 4455 4494 4499
 4502 4535 4562 4563 4564 4565 4566 4567 4568 4569 4570 4571 4572 4573
 4574 4575 4595 4596 4600 4679 4693 4695 4710 4816 4817 4873 4874 4908
 4935 4950 4959 5007 5008 5025 5034 5044 5076 5116 5144 5154 5159 5240
 5246 5249 5334 5381 5396 5532 5559 5562 5641 5642 5672 5683 5767 5779
 5817 5818 5929 5947 6066 6081 6084 6120 6215 6222 6233 6243 6266 6271
 6332 6349 6360 6383 6392 6536 6607 6899 6904 6905 6906 6907 6908 6909
 6910 6911 6913 6914 6915 6984 7020 7021 7022 7023 7024 7063 7089 7103]

In [34]:
Pennsylvania=New_df.iloc[[2933, 2934, 2935, 2936, 2937, 2938, 2939, 2940, 2941, 2942, 2943, 2944, 2945, 2946,
 2947, 2948, 2949, 2950, 2951, 2952, 2953, 2954, 2955, 2956, 2957, 2958, 2959, 2960,
 2961, 2962, 2963, 2964, 2965, 2966, 2967, 2968, 2969, 2970, 2971, 2972, 2973, 2974,
 2975, 2976, 2977, 2978, 2979, 2980, 2981, 2982, 2983, 2984, 2985, 2986, 2987, 2988,
 2989, 2990, 2991, 2992, 2993, 2994, 2995, 2996, 2998, 2999, 3000, 3001, 3002, 3003,
 3005, 3006, 3007, 3008, 3009, 3010, 3011, 3012, 3013, 3014, 3015, 3016, 3017, 3018,
 3019, 3020, 3021, 3022, 3023, 3024, 3025, 3026, 3027, 3028, 3029, 3030, 3031, 3032,
 3033, 3034, 3035, 3036, 3037, 3038, 3039, 3040, 3041, 3042, 3043, 3044, 3045, 3046,
 3047, 3048, 3049, 3050, 3051, 3052, 3053, 3054, 3055, 3056, 3057, 3058, 3059, 3060,
 3061, 3062, 3063, 3064, 3065, 3066, 3067, 3068, 3069, 3070, 3071, 3072, 3073, 3074,
 3075, 3076, 3077, 3078, 3079, 3080, 3081, 3082, 3083, 3084, 3085, 3086, 3087, 3088,
 3089, 3090, 3091, 3092, 3093, 3094, 3095, 3096, 3097, 3098, 3099, 3100, 3101, 3102,
 3103, 3104, 3105, 3106, 3107, 3108, 3109, 3110, 3111, 3112, 3113, 3114, 3115, 3116,
 3117, 3118, 3119, 3120, 3121, 3122, 3123, 3124, 3125, 3126, 3127, 3128, 3129, 3130,
 3131, 3132, 3133, 3134, 3135, 3136, 3137, 3138, 3139, 3140, 3141, 3142, 3143, 3144,
 3145, 3146, 3147, 3148, 3149, 3150, 3151, 3152, 3153, 3154, 3155, 3156, 3157, 3158,
 3159, 3160, 3161, 3162, 3163, 3164, 3165, 3166, 3167, 3168, 3169, 3170, 3171, 3172,
 3173, 3174, 3175, 3176, 3177, 3178, 3179, 3180, 3181, 3182, 3183, 3184, 3185, 3186,
 3187, 3188, 4010, 4039, 4040, 4050, 4051, 4052, 4057, 4062, 4079, 4125, 4136, 4151,
 4164, 4175, 4193, 4255, 4256, 4257, 4335, 4351, 4419, 4420, 4446, 4455, 4494, 4499,
 4502, 4535, 4562, 4563, 4564, 4565, 4566, 4567, 4568, 4569, 4570, 4571, 4572, 4573,
 4574, 4575, 4595, 4596, 4600, 4679, 4693, 4695, 4710, 4816, 4817, 4873, 4874, 4908,
 4935, 4950, 4959, 5007, 5008, 5025, 5034, 5044, 5076, 5116, 5144, 5154, 5159, 5240,
 5246, 5249, 5334, 5381, 5396, 5532, 5559, 5562, 5641, 5642, 5672, 5683, 5767, 5779,
 5817, 5818, 5929, 5947, 6066, 6081, 6084, 6120, 6215, 6222, 6233, 6243, 6266, 6271,
 6332, 6349, 6360, 6383, 6392, 6536, 6607, 6899, 6904, 6905, 6906, 6907, 6908, 6909,
 6910, 6911, 6913, 6914, 6915, 6984, 7020, 7021, 7022, 7023, 7024, 7063, 7089, 7103], :]
print(Pennsylvania) # print info of colleges in Pennsylvannia

        UNITID                                             INSTNM  \
2933    210474             Jolie Hair and Beauty Academy-Hazleton
2934    210492               Bryn Athyn College of the New Church
2935    210508                              Academy of Vocal Arts
2936    210571                                   Albright College
2937    210599                            All-State Career School
...        ...                                                ...
7023  44378405               Strayer University-Warrendale Campus
7024  44378406                Strayer University-Allentown Campus
7063  45794301   Somerset County Technology Center - Bedford Site
7089  47503308  Relay Graduate School of Education - Philadelp...
7103  48305401             Barber School of Pittsburgh - Ambridge

               CITY STABBR         ZIP  ADM_RATE    UGDS  TUITIONFEE_IN  \
2933       Hazleton     PA       18201       NaN    61.0            NaN
2934     Bryn Athyn     PA  19009-0711    0.8755   323.0        21126.0
2935   Philadelphia     PA  19103-6685       NaN     NaN            NaN
2936        Reading     PA  19612-5234    0.5004  1999.0        43454.0
2937      Essington     PA       19029       NaN   306.0            NaN
...             ...    ...         ...       ...     ...            ...
7023     Warrendale     PA       15086       NaN     NaN        13857.0
7024  Center Valley     PA       18034       NaN     NaN        13857.0
7063        Bedford     PA       15522       NaN     NaN            NaN
7089   Philadelphia     PA   191224906       NaN     NaN            NaN
7103       Ambridge     PA   150030000       NaN     NaN            NaN

      MN_EARN_WNE_P10
2933              NaN
2934              NaN
2935              NaN
2936              NaN
2937              NaN
...               ...
7023              NaN
7024              NaN
7063              NaN
7089              NaN
7103              NaN

[378 rows x 9 columns]

In [35]:
axisDE=(New_df[New_df['STABBR']=='DE'].index.values) # find axis of Delaware
print(axisDE)

[ 634  635  636  637  638  639  640  641  642 4729 4917 5037 5275 5322
 5354 5718 6527 6725 6726 7084]

In [36]:
Delaware=New_df.iloc[[634,  635,  636,  637,  638,  639,  640,  641,  642, 4729, 4917, 5037, 5275, 5322,
 5354, 5718, 6527, 6725, 6726, 7084], :]
print(Delaware) # print info of colleges in Delaware

        UNITID                                             INSTNM        CITY  \
634     130837  Margaret H Rollins School of Nursing at Beebe ...       Lewes
635     130873                          Dawn Career Institute LLC      Newark
636     130907         Delaware Technical Community College-Terry       Dover
637     130934                          Delaware State University       Dover
638     130943                             University of Delaware      Newark
639     130989                              Goldey-Beacom College  Wilmington
640     131061        Schilling-Douglas School of Hair Design LLC      Newark
641     131098                                     Wesley College       Dover
642     131113                              Wilmington University  New Castle
4729    432524                 Delaware College of Art and Design  Wilmington
4917    441362        Harris School of Business-Wilmington Campus  Wilmington
5037    444200             Harris School of Business-Dover Campus       Dover
5275    449472         Delaware Learning Institute of Cosmetology    Dagsboro
5322    450298                        Strayer University-Delaware      Newark
5354    451051                    Academy of Massage and Bodywork        Bear
5718    459301                  Paul Mitchell the School-Delaware      Newark
6527    488262          Hair Academy School of Barbering & Beauty      Newark
6725  13090701         Delaware Technical Community College-Owens  Georgetown
6726  13090702  Delaware Technical Community College-Stanton/W...  Wilmington
7084  47503303      Relay Graduate School of Education - Delaware  Wilmington

     STABBR         ZIP  ADM_RATE     UGDS  TUITIONFEE_IN  MN_EARN_WNE_P10
634      DE       19958       NaN     59.0            NaN              NaN
635      DE       19702       NaN    108.0            NaN              NaN
636      DE       19901       NaN  12408.0         4848.0              NaN
637      DE       19901    0.4518   3678.0         7868.0              NaN
638      DE       19716    0.6289  18948.0        13160.0              NaN
639      DE       19808    0.5177    770.0        23850.0              NaN
640      DE       19711       NaN    133.0            NaN              NaN
641      DE  19901-3875    0.6151   1342.0        26406.0              NaN
642      DE       19720       NaN   8346.0        10940.0              NaN
4729     DE  19801-3007    0.7900    143.0        25710.0              NaN
4917     DE       19803       NaN    219.0            NaN              NaN
5037     DE       19901       NaN    226.0            NaN              NaN
5275     DE       19939       NaN     39.0            NaN              NaN
5322     DE       19713       NaN    267.0        13857.0              NaN
5354     DE       19701       NaN     95.0            NaN              NaN
5718     DE       19702       NaN    103.0            NaN              NaN
6527     DE  19713-2305       NaN     33.0            NaN              NaN
6725     DE       19947       NaN      NaN         4848.0              NaN
6726     DE       19801       NaN      NaN         4848.0              NaN
7084     DE       19801       NaN      NaN            NaN              NaN

In [37]:
axisDC=(New_df[New_df['STABBR']=='DC'].index.values) # find axis of DC
print(axisDC)

[ 643  644  645  646  647  648  649  650  651  652  653  654 4100 4348
 4616 4844 5079 5328 5520 5521 5739 5747 6727 7094]

In [38]:
Washington_DC=New_df.iloc[[643,  644,  645,  646,  647,  648,  649,  650,  651,  652,  653,  654, 4100, 4348,
 4616, 4844, 5079, 5328, 5520, 5521, 5739, 5747, 6727, 7094], :]
print(Washington_DC) # print info of colleges in DC

        UNITID                                             INSTNM        CITY  \
643     131159                                American University  Washington
644     131283                 The Catholic University of America  Washington
645     131399             University of the District of Columbia  Washington
646     131405  Pontifical Faculty of the Immaculate Conceptio...  Washington
647     131450                               Gallaudet University  Washington
648     131469                       George Washington University  Washington
649     131496                              Georgetown University  Washington
650     131520                                  Howard University  Washington
651     131803            Strayer University-District of Columbia  Washington
652     131830             National Conservatory of Dramatic Arts  Washington
653     131876                      Trinity Washington University  Washington
654     131973                        Wesley Theological Seminary  Washington
4100    363721  University of the District of Columbia-David A...  Washington
4348    384412     University of the Potomac-Washington DC Campus  Washington
4616    420370                         Career Technical Institute  Washington
4844    439473                           Bennett Career Institute  Washington
5079    444893                     Technical Learning Centers Inc  Washington
5328    450483                University of Phoenix-Washington DC  Washington
5520    455804                        Institute of World Politics  Washington
5521    455813  Pontifical John Paul II Institute for Studies ...  Washington
5739    459745  The Chicago School of Professional Psychology ...  Washington
5747    459994                   Strayer University-Global Region  Washington
6727  13180301              Strayer University-Takoma Park Campus  Washington
7094  47503313  Relay Graduate School of Education - Washingto...  Washington

     STABBR         ZIP  ADM_RATE     UGDS  TUITIONFEE_IN  MN_EARN_WNE_P10
643      DC  20016-8001    0.2940   7433.0        46615.0              NaN
644      DC       20064    0.8258   3284.0        44060.0              NaN
645      DC       20008       NaN   3606.0         5756.0              NaN
646      DC  20017-1585       NaN      NaN            NaN              NaN
647      DC  20002-3695    0.5901   1111.0        16558.0              NaN
648      DC       20052    0.4098  11718.0        53518.0              NaN
649      DC  20057-0001    0.1568   7128.0        52300.0              NaN
650      DC  20059-0001    0.4142   6276.0        25697.0              NaN
651      DC       20005       NaN    687.0        13857.0              NaN
652      DC       20007    1.0000     32.0         9900.0              NaN
653      DC  20017-1094    0.9228   1498.0        23690.0              NaN
654      DC  20016-5690       NaN      NaN            NaN              NaN
4100     DC       20008       NaN      NaN            NaN              NaN
4348     DC       20005       NaN     65.0        13884.0              NaN
4616     DC       20005       NaN    387.0            NaN              NaN
4844     DC       20017       NaN    312.0            NaN              NaN
5079     DC  20006-5540       NaN    172.0            NaN              NaN
5328     DC  20001-1431       NaN     70.0         9960.0              NaN
5520     DC       20036       NaN      NaN            NaN              NaN
5521     DC       20064       NaN      NaN            NaN              NaN
5739     DC       20005       NaN      NaN            NaN              NaN
5747     DC       20005       NaN   5543.0        13857.0              NaN
6727     DC       20012       NaN      NaN        13857.0              NaN
7094     DC       20002       NaN      NaN            NaN              NaN

In [41]:
five=[Maryland, Virginia, Pennsylvania,Delaware, Washington_DC]
five_states=pd.concat(five) # adding the data of the five states into a dataframe

## Step 8: Save the filtered dataset to a a csv file

In [40]:
five_states.to_csv("Five_States_Colleges.csv")

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=5e850d88-26c1-4229-ad7b-bc0cc7c74f9d' target="_blank">
<img style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>