# Assignment # 6
**Name:** Shaimar R. GonzÃ¡lez Morales

**Date:** 3/15/ 2021

## Step 1: Upload the dataset

In [1]:
import pandas as pd

In [2]:
df=pd.read_html('https://www.genealogybranches.com/censuscosts.html') #importing the data

In [3]:
df # print to visualize the tables

[              0                 1               2                        3
 0   Census Year  Total Population     Census Cost  Average Cost Per Person
 1          1790           3929214         $44,377               1.13 cents
 2          1800           5308483         $66,109               1.24 cents
 3          1810           7239881        $178,445               2.46 cents
 4          1820           9633822        $208,526               2.16 cents
 5          1830          12866020        $378,545               2.94 cents
 6          1840          17069458        $833,371               4.88 cents
 7          1850          23191876      $1,423,351               6.14 cents
 8          1860          31443321      $1,969,377               6.26 cents
 9          1870          38558371      $3,421,198               8.87 cents
 10         1880          50155783      $5,790,678              11.54 cents
 11         1890          62979766     $11,547,127              18.33 cents
 12         1900          76303387     $11,854,000              15.54 cents
 13         1910          91972266     $15,968,000              17.07 cents
 14         1920         105710620     $25,117,000              23.76 cents
 15         1930         122775046     $40,156,000              32.71 cents
 16         1940         131669275     $67,527,000              51.29 cents
 17         1950         151325798     $91,462,000              60.44 cents
 18         1960         179323175    $127,934,000              71.34 cents
 19         1970         203302031    $247,653,000                    $1.22
 20         1980         226542199  $1,078,488,000                    $4.76
 21         1990         248718301  $2,492,830,000                   $10.02
 22         2000         281421906    $4.5 Billion                   $15.99
 23        2010*         308745538     $13 Billion                   $42.11,
                                                    0
 0  The U.S. population reached 300,000,000 on 17 ...]

## Step 2: Finding out how many HTML tables pandas retreive

In [4]:
print(f'Total tables: {len(df)}') # asking the len/amount of tables

Total tables: 2

## Step 3: Finding out which one contains the data of interest

In [5]:
pip install html5lib

Requirement already satisfied: html5lib in /usr/local/lib/python3.7/site-packages (1.1)
Requirement already satisfied: webencodings in /shared-libs/python3.7/py-core/lib/python3.7/site-packages (from html5lib) (0.5.1)
Requirement already satisfied: six>=1.9 in /shared-libs/python3.7/py-core/lib/python3.7/site-packages (from html5lib) (1.15.0)
WARNING: You are using pip version 20.1.1; however, version 21.0.1 is available.
You should consider upgrading via the '/usr/local/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [6]:
import html5lib

In [7]:
pip install bs4

Requirement already satisfied: bs4 in /usr/local/lib/python3.7/site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in /usr/local/lib/python3.7/site-packages (from beautifulsoup4->bs4) (2.2)
WARNING: You are using pip version 20.1.1; however, version 21.0.1 is available.
You should consider upgrading via the '/usr/local/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [8]:
import bs4

In [9]:
df1 = pd.read_html('https://www.genealogybranches.com/censuscosts.html', match='Census Year', header=None) # we ask for something matching an item that we are interested in on the table
#error was appearing without installing bs4 and html5lib

In [10]:
df1

[              0                 1               2                        3
 0   Census Year  Total Population     Census Cost  Average Cost Per Person
 1          1790           3929214         $44,377               1.13 cents
 2          1800           5308483         $66,109               1.24 cents
 3          1810           7239881        $178,445               2.46 cents
 4          1820           9633822        $208,526               2.16 cents
 5          1830          12866020        $378,545               2.94 cents
 6          1840          17069458        $833,371               4.88 cents
 7          1850          23191876      $1,423,351               6.14 cents
 8          1860          31443321      $1,969,377               6.26 cents
 9          1870          38558371      $3,421,198               8.87 cents
 10         1880          50155783      $5,790,678              11.54 cents
 11         1890          62979766     $11,547,127              18.33 cents
 12         1900          76303387     $11,854,000              15.54 cents
 13         1910          91972266     $15,968,000              17.07 cents
 14         1920         105710620     $25,117,000              23.76 cents
 15         1930         122775046     $40,156,000              32.71 cents
 16         1940         131669275     $67,527,000              51.29 cents
 17         1950         151325798     $91,462,000              60.44 cents
 18         1960         179323175    $127,934,000              71.34 cents
 19         1970         203302031    $247,653,000                    $1.22
 20         1980         226542199  $1,078,488,000                    $4.76
 21         1990         248718301  $2,492,830,000                   $10.02
 22         2000         281421906    $4.5 Billion                   $15.99
 23        2010*         308745538     $13 Billion                   $42.11]

## Step 4: Display and explore the data

In [11]:
type(df1) # determine the type of data

list

In [12]:
real_df=df1[0] # convert list to pandas dataframe
real_df

              0                 1               2                        3
0   Census Year  Total Population     Census Cost  Average Cost Per Person
1          1790           3929214         $44,377               1.13 cents
2          1800           5308483         $66,109               1.24 cents
3          1810           7239881        $178,445               2.46 cents
4          1820           9633822        $208,526               2.16 cents
5          1830          12866020        $378,545               2.94 cents
6          1840          17069458        $833,371               4.88 cents
7          1850          23191876      $1,423,351               6.14 cents
8          1860          31443321      $1,969,377               6.26 cents
9          1870          38558371      $3,421,198               8.87 cents
10         1880          50155783      $5,790,678              11.54 cents
11         1890          62979766     $11,547,127              18.33 cents
12         1900          76303387     $11,854,000              15.54 cents
13         1910          91972266     $15,968,000              17.07 cents
14         1920         105710620     $25,117,000              23.76 cents
15         1930         122775046     $40,156,000              32.71 cents
16         1940         131669275     $67,527,000              51.29 cents
17         1950         151325798     $91,462,000              60.44 cents
18         1960         179323175    $127,934,000              71.34 cents
19         1970         203302031    $247,653,000                    $1.22
20         1980         226542199  $1,078,488,000                    $4.76
21         1990         248718301  $2,492,830,000                   $10.02
22         2000         281421906    $4.5 Billion                   $15.99
23        2010*         308745538     $13 Billion                   $42.11

In [13]:
type(real_df) # making sure is a DataFrame and not a list

pandas.core.frame.DataFrame

In [14]:
real_df.columns # columns

Int64Index([0, 1, 2, 3], dtype='int64')

In [15]:
rows_real_df=real_df.iloc[0] #The name of the columns
rows_real_df

0                Census Year
1           Total Population
2                Census Cost
3    Average Cost Per Person
Name: 0, dtype: object

## Step 5: Convert the columns name to the header

In [16]:
real_df.columns = real_df.iloc[0] # making the columns names the header of the column instead of numbers

In [17]:
real_df.columns # print columns names

Index(['Census Year', 'Total Population', 'Census Cost',
       'Average Cost Per Person'],
      dtype='object', name=0)

In [18]:
real_df # Now 0,1,2,3 doesn't showed and the column names replace the numbers

0   Census Year  Total Population     Census Cost  Average Cost Per Person
0   Census Year  Total Population     Census Cost  Average Cost Per Person
1          1790           3929214         $44,377               1.13 cents
2          1800           5308483         $66,109               1.24 cents
3          1810           7239881        $178,445               2.46 cents
4          1820           9633822        $208,526               2.16 cents
5          1830          12866020        $378,545               2.94 cents
6          1840          17069458        $833,371               4.88 cents
7          1850          23191876      $1,423,351               6.14 cents
8          1860          31443321      $1,969,377               6.26 cents
9          1870          38558371      $3,421,198               8.87 cents
10         1880          50155783      $5,790,678              11.54 cents
11         1890          62979766     $11,547,127              18.33 cents
12         1900          76303387     $11,854,000              15.54 cents
13         1910          91972266     $15,968,000              17.07 cents
14         1920         105710620     $25,117,000              23.76 cents
15         1930         122775046     $40,156,000              32.71 cents
16         1940         131669275     $67,527,000              51.29 cents
17         1950         151325798     $91,462,000              60.44 cents
18         1960         179323175    $127,934,000              71.34 cents
19         1970         203302031    $247,653,000                    $1.22
20         1980         226542199  $1,078,488,000                    $4.76
21         1990         248718301  $2,492,830,000                   $10.02
22         2000         281421906    $4.5 Billion                   $15.99
23        2010*         308745538     $13 Billion                   $42.11

In [19]:
real_df=real_df.drop([0,])  # drop row with the names

In [20]:
real_df # Now that row doesn't show up

0  Census Year Total Population     Census Cost Average Cost Per Person
1         1790          3929214         $44,377              1.13 cents
2         1800          5308483         $66,109              1.24 cents
3         1810          7239881        $178,445              2.46 cents
4         1820          9633822        $208,526              2.16 cents
5         1830         12866020        $378,545              2.94 cents
6         1840         17069458        $833,371              4.88 cents
7         1850         23191876      $1,423,351              6.14 cents
8         1860         31443321      $1,969,377              6.26 cents
9         1870         38558371      $3,421,198              8.87 cents
10        1880         50155783      $5,790,678             11.54 cents
11        1890         62979766     $11,547,127             18.33 cents
12        1900         76303387     $11,854,000             15.54 cents
13        1910         91972266     $15,968,000             17.07 cents
14        1920        105710620     $25,117,000             23.76 cents
15        1930        122775046     $40,156,000             32.71 cents
16        1940        131669275     $67,527,000             51.29 cents
17        1950        151325798     $91,462,000             60.44 cents
18        1960        179323175    $127,934,000             71.34 cents
19        1970        203302031    $247,653,000                   $1.22
20        1980        226542199  $1,078,488,000                   $4.76
21        1990        248718301  $2,492,830,000                  $10.02
22        2000        281421906    $4.5 Billion                  $15.99
23       2010*        308745538     $13 Billion                  $42.11

## Step 6: Determine the data quality

In [21]:
real_df.dtypes #verify types of data in columns

0
Census Year                object
Total Population           object
Census Cost                object
Average Cost Per Person    object
dtype: object

As the elements in the columns are object changes need to make in some to perform the cleaning

In [22]:
nullval_df= real_df.isnull() # check null values
nullval_df

0   Census Year  Total Population  Census Cost  Average Cost Per Person
1         False             False        False                    False
2         False             False        False                    False
3         False             False        False                    False
4         False             False        False                    False
5         False             False        False                    False
6         False             False        False                    False
7         False             False        False                    False
8         False             False        False                    False
9         False             False        False                    False
10        False             False        False                    False
11        False             False        False                    False
12        False             False        False                    False
13        False             False        False                    False
14        False             False        False                    False
15        False             False        False                    False
16        False             False        False                    False
17        False             False        False                    False
18        False             False        False                    False
19        False             False        False                    False
20        False             False        False                    False
21        False             False        False                    False
22        False             False        False                    False
23        False             False        False                    False

There is no missing values

In [23]:
elem_check=real_df.applymap(lambda x: isinstance(x, (int, float)))# check wether elements are numbers
elem_check

0   Census Year  Total Population  Census Cost  Average Cost Per Person
1         False             False        False                    False
2         False             False        False                    False
3         False             False        False                    False
4         False             False        False                    False
5         False             False        False                    False
6         False             False        False                    False
7         False             False        False                    False
8         False             False        False                    False
9         False             False        False                    False
10        False             False        False                    False
11        False             False        False                    False
12        False             False        False                    False
13        False             False        False                    False
14        False             False        False                    False
15        False             False        False                    False
16        False             False        False                    False
17        False             False        False                    False
18        False             False        False                    False
19        False             False        False                    False
20        False             False        False                    False
21        False             False        False                    False
22        False             False        False                    False
23        False             False        False                    False

Since it result false it means that the elements are not an integer or float

In [24]:
real_df

0  Census Year Total Population     Census Cost Average Cost Per Person
1         1790          3929214         $44,377              1.13 cents
2         1800          5308483         $66,109              1.24 cents
3         1810          7239881        $178,445              2.46 cents
4         1820          9633822        $208,526              2.16 cents
5         1830         12866020        $378,545              2.94 cents
6         1840         17069458        $833,371              4.88 cents
7         1850         23191876      $1,423,351              6.14 cents
8         1860         31443321      $1,969,377              6.26 cents
9         1870         38558371      $3,421,198              8.87 cents
10        1880         50155783      $5,790,678             11.54 cents
11        1890         62979766     $11,547,127             18.33 cents
12        1900         76303387     $11,854,000             15.54 cents
13        1910         91972266     $15,968,000             17.07 cents
14        1920        105710620     $25,117,000             23.76 cents
15        1930        122775046     $40,156,000             32.71 cents
16        1940        131669275     $67,527,000             51.29 cents
17        1950        151325798     $91,462,000             60.44 cents
18        1960        179323175    $127,934,000             71.34 cents
19        1970        203302031    $247,653,000                   $1.22
20        1980        226542199  $1,078,488,000                   $4.76
21        1990        248718301  $2,492,830,000                  $10.02
22        2000        281421906    $4.5 Billion                  $15.99
23       2010*        308745538     $13 Billion                  $42.11

In [25]:
real_df2=real_df # I just name it diferrently to illustrate some of the problem with the year

In [26]:
data=real_df2['Length']= real_df2['Census Year'].str.len() #calculating if element number is the same in first column
data

1     4
2     4
3     4
4     4
5     4
6     4
7     4
8     4
9     4
10    4
11    4
12    4
13    4
14    4
15    4
16    4
17    4
18    4
19    4
20    4
21    4
22    4
23    5
Name: Census Year, dtype: int64

This show that the first column have a different lenght and we know it is due to the *. Similarly if we run Census Cost and Average Cost Per Person will show that have different lenght due to the addition of Bilion and cents respectively.

## Step 7: Create a function that help us remove the *

In [27]:
real_df=real_df.drop(columns=['Length']) #deleting the column length

In [28]:
import re
def cleanse_year(x):
    match = re.sub(r'\*',"",x)# all symbols that means something should be preceed with backlash
    return match # it will sustitute the * for empty space

real_df['Census Year'] = real_df['Census Year'].apply(cleanse_year) #apply the function

print(real_df) #test

0  Census Year Total Population     Census Cost Average Cost Per Person
1         1790          3929214         $44,377              1.13 cents
2         1800          5308483         $66,109              1.24 cents
3         1810          7239881        $178,445              2.46 cents
4         1820          9633822        $208,526              2.16 cents
5         1830         12866020        $378,545              2.94 cents
6         1840         17069458        $833,371              4.88 cents
7         1850         23191876      $1,423,351              6.14 cents
8         1860         31443321      $1,969,377              6.26 cents
9         1870         38558371      $3,421,198              8.87 cents
10        1880         50155783      $5,790,678             11.54 cents
11        1890         62979766     $11,547,127             18.33 cents
12        1900         76303387     $11,854,000             15.54 cents
13        1910         91972266     $15,968,000             17.07 cents
14        1920        105710620     $25,117,000             23.76 cents
15        1930        122775046     $40,156,000             32.71 cents
16        1940        131669275     $67,527,000             51.29 cents
17        1950        151325798     $91,462,000             60.44 cents
18        1960        179323175    $127,934,000             71.34 cents
19        1970        203302031    $247,653,000                   $1.22
20        1980        226542199  $1,078,488,000                   $4.76
21        1990        248718301  $2,492,830,000                  $10.02
22        2000        281421906    $4.5 Billion                  $15.99
23        2010        308745538     $13 Billion                  $42.11

Now I don't have the * but we still have things that needs to be change like Billion, $, cents and making sure that the data is in the column is in the same unit.

## Step 8: Create a function that help clean Census Cost column

In [29]:
def cleanse_cost(init_cost):
    fin_cost = init_cost.lstrip("$").replace(",","") #lstrip will remove the element at the begining will replace will get rid of the commas
    if  init_cost.find("4.5") != -1:          
        fin_cost = "4500000000" # This part will find the elem first and then sustitute the element for the one assigned
    elif init_cost.find("13") != -1:     
        fin_cost = "13000000000" # similarly than before
    return fin_cost

In [30]:
real_df["Census Cost"] = real_df['Census Cost'].apply(cleanse_cost) #apply the function
real_df #test function

0  Census Year Total Population  Census Cost Average Cost Per Person
1         1790          3929214        44377              1.13 cents
2         1800          5308483        66109              1.24 cents
3         1810          7239881       178445              2.46 cents
4         1820          9633822       208526              2.16 cents
5         1830         12866020       378545              2.94 cents
6         1840         17069458       833371              4.88 cents
7         1850         23191876      1423351              6.14 cents
8         1860         31443321      1969377              6.26 cents
9         1870         38558371      3421198              8.87 cents
10        1880         50155783      5790678             11.54 cents
11        1890         62979766     11547127             18.33 cents
12        1900         76303387     11854000             15.54 cents
13        1910         91972266     15968000             17.07 cents
14        1920        105710620     25117000             23.76 cents
15        1930        122775046     40156000             32.71 cents
16        1940        131669275     67527000             51.29 cents
17        1950        151325798     91462000             60.44 cents
18        1960        179323175    127934000             71.34 cents
19        1970        203302031    247653000                   $1.22
20        1980        226542199   1078488000                   $4.76
21        1990        248718301   2492830000                  $10.02
22        2000        281421906   4500000000                  $15.99
23        2010        308745538  13000000000                  $42.11

## Step 9: Create a function that help clean Average Cost Per Person column

In [31]:
import re
def cleanse_average(raw_average):
    average=raw_average
    if average.find('cents') != -1:
        average=re.sub(r"\ cents", "", average)# this code help removed the things at the end of the number with space
        return average 
    elif average.find('$') != -1:
        average = average.lstrip("$") # take out the dollar sign at the begining
        return average # it is important to add retrun twice because if not only execute the last part

In [32]:
real_df["Average Cost Per Person"] = real_df['Average Cost Per Person'].apply(cleanse_average) # apply function
real_df #test function

0  Census Year Total Population  Census Cost Average Cost Per Person
1         1790          3929214        44377                    1.13
2         1800          5308483        66109                    1.24
3         1810          7239881       178445                    2.46
4         1820          9633822       208526                    2.16
5         1830         12866020       378545                    2.94
6         1840         17069458       833371                    4.88
7         1850         23191876      1423351                    6.14
8         1860         31443321      1969377                    6.26
9         1870         38558371      3421198                    8.87
10        1880         50155783      5790678                   11.54
11        1890         62979766     11547127                   18.33
12        1900         76303387     11854000                   15.54
13        1910         91972266     15968000                   17.07
14        1920        105710620     25117000                   23.76
15        1930        122775046     40156000                   32.71
16        1940        131669275     67527000                   51.29
17        1950        151325798     91462000                   60.44
18        1960        179323175    127934000                   71.34
19        1970        203302031    247653000                    1.22
20        1980        226542199   1078488000                    4.76
21        1990        248718301   2492830000                   10.02
22        2000        281421906   4500000000                   15.99
23        2010        308745538  13000000000                   42.11

Although I was able to removed cents and $ the elements still aren't in the same unit.

In [33]:
real1=real_df.iloc[18:, 0:4] # I added the elements that are in dollar value to other DataFrame

In [34]:
real_df['Average Cost Per Person']=pd.to_numeric(real_df['Average Cost Per Person'], downcast="float") #in order to make a division to covert elements in dollars they should be change to a float
#and this line does just that

In [35]:
real_df.dtypes #to confirm that I indeed did this

0
Census Year                 object
Total Population            object
Census Cost                 object
Average Cost Per Person    float32
dtype: object

In [36]:
real2=real_df.iloc[0:18, 0:4] # Now, let's put the other elements in another DataFrame

In [37]:
real2['Average Cost Per Person']=real2['Average Cost Per Person'].div(100)# I divide elements by 100 to get the dollar value

In [38]:
real_df3=[real2, real1] #creating a variable with both DataFrame

In [39]:
real_df4=pd.concat(real_df3)#adding the two DataFrame in the same one

In [40]:
real_df4 # test

0  Census Year Total Population  Census Cost Average Cost Per Person
1         1790          3929214        44377                  0.0113
2         1800          5308483        66109                  0.0124
3         1810          7239881       178445                  0.0246
4         1820          9633822       208526                  0.0216
5         1830         12866020       378545                  0.0294
6         1840         17069458       833371                  0.0488
7         1850         23191876      1423351                  0.0614
8         1860         31443321      1969377                  0.0626
9         1870         38558371      3421198                  0.0887
10        1880         50155783      5790678                  0.1154
11        1890         62979766     11547127                  0.1833
12        1900         76303387     11854000                  0.1554
13        1910         91972266     15968000                  0.1707
14        1920        105710620     25117000                  0.2376
15        1930        122775046     40156000                  0.3271
16        1940        131669275     67527000                  0.5129
17        1950        151325798     91462000                  0.6044
18        1960        179323175    127934000                  0.7134
19        1970        203302031    247653000                    1.22
20        1980        226542199   1078488000                    4.76
21        1990        248718301   2492830000                   10.02
22        2000        281421906   4500000000                   15.99
23        2010        308745538  13000000000                   42.11

## Step 10: Creating a csv file

In [41]:
real_df4.to_csv('census_cost_cleansed.csv',index=False) #making a csv file starting from the frist column

## Step 11: Open csv file

In [42]:
with open ("census_cost_cleansed.csv", "rt") as f:
    all_lines=f.readlines() #open the file

In [43]:
for row in all_lines:
    print(row) # display the file without a pandas DataFrame

Census Year,Total Population,Census Cost,Average Cost Per Person

1790,3929214,44377,0.011300000362098217

1800,5308483,66109,0.012400000356137753

1810,7239881,178445,0.02460000105202198

1820,9633822,208526,0.02160000056028366

1830,12866020,378545,0.029400000348687172

1840,17069458,833371,0.04880000278353691

1850,23191876,1423351,0.061400000005960464

1860,31443321,1969377,0.06260000169277191

1870,38558371,3421198,0.08869999647140503

1880,50155783,5790678,0.11540000140666962

1890,62979766,11547127,0.18330000340938568

1900,76303387,11854000,0.15539999306201935

1910,91972266,15968000,0.17069999873638153

1920,105710620,25117000,0.23759999871253967

1930,122775046,40156000,0.3270999789237976

1940,131669275,67527000,0.5128999948501587

1950,151325798,91462000,0.6043999791145325

1960,179323175,127934000,0.7133999466896057

1970,203302031,247653000,1.22

1980,226542199,1078488000,4.76

1990,248718301,2492830000,10.02

2000,281421906,4500000000,15.99

2010,308745538,13000000000,42.11

In [44]:
pd.read_csv('census_cost_cleansed.csv')   # display the file with a pandas DataFrame

    Census Year  Total Population  Census Cost  Average Cost Per Person
0          1790           3929214        44377                   0.0113
1          1800           5308483        66109                   0.0124
2          1810           7239881       178445                   0.0246
3          1820           9633822       208526                   0.0216
4          1830          12866020       378545                   0.0294
5          1840          17069458       833371                   0.0488
6          1850          23191876      1423351                   0.0614
7          1860          31443321      1969377                   0.0626
8          1870          38558371      3421198                   0.0887
9          1880          50155783      5790678                   0.1154
10         1890          62979766     11547127                   0.1833
11         1900          76303387     11854000                   0.1554
12         1910          91972266     15968000                   0.1707
13         1920         105710620     25117000                   0.2376
14         1930         122775046     40156000                   0.3271
15         1940         131669275     67527000                   0.5129
16         1950         151325798     91462000                   0.6044
17         1960         179323175    127934000                   0.7134
18         1970         203302031    247653000                   1.2200
19         1980         226542199   1078488000                   4.7600
20         1990         248718301   2492830000                  10.0200
21         2000         281421906   4500000000                  15.9900
22         2010         308745538  13000000000                  42.1100

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=5e850d88-26c1-4229-ad7b-bc0cc7c74f9d' target="_blank">
<img style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>